<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Environmentals</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="header-wrapper">
                <div class="float-left">
                     <img src="@Url.Content("~/Images/EnviroHawk2.png")" alt="EnviroHawk2" />
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li><a href="~/?id=chilledwater">Chilled Water</a></li>
                              <li>Electric
                                <ul class="submenu">
                                    <li><a href="~/?id=pbbelectric">PBB</a></li>
                                    <li><a href="~/?id=campuselectric">Campus</a></li>
                                </ul>
                            </li>
                            <li>Steam
                                <ul class="submenu">
                                    <li><a href="~/?id=steampbb">PBB</a></li>
                                    <li><a href="~/?id=steamcampus">Campus</a></li>
                                </ul>
                            </li>
                            <li><a href="~/?id=Wind">Wind</a></li>
                            <li>Solar
                                <ul class="submenu">
                                    <li><a href="~/?id=solarbusbarn">Bus Barn</a></li>
                                    <li><a href="~/?id=solarcarport">Car Port</a></li>
                                </ul>
                            </li>
                            <li><a href="~/?id=solarradiation">Solar Radiation</a></li>
                            <li><a href="~/?id=humidity">Humidity</a></li>
                            <li><a href="~/?id=airtemp">Air Temp</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
