@model List<EnvironmentalApp.Gui.Models.DataList>
@*using (Html.BeginForm("Index2", "HomeController", new { id = "AirTemp" }, FormMethod.Post))*@

<head>
    <title>BAIS Capstone</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/styles.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/jquery.jqplot.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />

    <link class="include" rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/jqPlot/jquery.jqplot.min.css")" />
    <!--[if lt IE 9]><script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/excanvas.min.js")"></script><![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasTextRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.highlighter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.highlighter.js")"></script>
</head>

            @{var dataValue = Model.FirstOrDefault().DataUnit;}

    <script type="text/javascript">

        $(document).ready(function () {
            var line = [];
                @foreach (var m in Model)
                { 
             <text> var line</text>@m.Id<text> = [];</text>
                    foreach (var l in m.dataListData)
                    { 
                <text>line</text>@m.Id<text>.push(["@l.Date.ToString("MM/dd/yyyy hh:mm:ss tt")", @l.Value]);</text>
                    }
                <text>line.push(line</text>@m.Id<text>);</text>
                }
         
            function plotData(line) {
            var plot=    $.jqplot('chartdiv', line, {
                    seriesDefaults: {
                        renderer: $.jqplot.trendline,
                        rendererOptions: { fillToZero: true }
                    },
                    axes: {
                        xaxis: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            renderer: $.jqplot.DateAxisRenderer,
                            label: 'Date',
                            tickOptions: {
                                angle: -40,
                                formatString: '%m/%d/%y %R'
                            }
                        },
                        yaxis: {
                            label: '@dataValue',
                            labelrenderer: $.jqplot.CanvasAxisLabelRenderer
                        }
                    },
                highlighter: {
                    show: true,
                    formatstring: '@dataValue',
                    sizeAdjust: 7.5
                },
                cursor: {
                    show: true
                }

                })
            }
            var plot = plotData(line);

        });
    </script>

    <div id="pageContainer">

        @{var pageTitle = Model.FirstOrDefault().LineName;}
        @{var StartDate = Model.FirstOrDefault().StartDate;}
        @{var EndDate = Model.FirstOrDefault().EndDate;}
        @{var tagID = Model.FirstOrDefault().Id;}

        <h2>@pageTitle  <span class="date">@StartDate - @EndDate</span></h2>
        <br />
        <hr /><br />
        View readings from another date range:
        <form id="datePicker" action="?id=@tagID" method="post">
            <label for="from">From</label>
            <input type="text" id="from" name="sdate">
            <label for="to">To</label>
            <input type="text" id="to" name="edate">
            <input type="submit" value="View" />
        </form>

        <div id="chartdiv" >
        </div>

    </div>

<script>

    $(function () {
        $("#from").datepicker({
            defaultDate: "*",
            changeMonth: true,
            numberOfMonths:1,
            maxDate: new Date,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "*",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: new Date,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });



    });
  </script>