@model List<EnvironmentalApp.Gui.Models.DataList>
@*using (Html.BeginForm("Index2", "HomeController", new { id = "AirTemp" }, FormMethod.Post))*@

<head>
    <title>BAIS Capstone</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/styles.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/jquery.jqplot.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />

    <link class="include" rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/jqPlot/jquery.jqplot.min.css")" />
    <!--[if lt IE 9]><script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/excanvas.min.js")"></script><![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasTextRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.highlighter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js")"></script>
</head>

            @{var dataValue = Model.FirstOrDefault().DataUnit;}

    <script type="text/javascript">

        //attempt two
        $(document).ready(function () {
            var line = [];
                @foreach (var m in Model)
                { 
             <text> var line</text>@m.Id<text> = [];</text>
                    foreach (var l in m.dataListData)
                    { 
                <text>line</text>@m.Id<text>.push(["@l.Date.ToString("MM/dd/yyyy hh:mm:ss tt")", @l.Value]);</text>
                    }
                <text>line.push(line</text>@m.Id<text>);</text>
                }
         
            function plotData(line) {
            var plot=    $.jqplot('chartdiv', line, {
                    seriesDefaults: {
                        renderer: $.jqplot.trendline,
                        rendererOptions: { fillToZero: true }
                    },
                    axes: {
                        xaxis: {
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            renderer: $.jqplot.DateAxisRenderer,
                            label: 'Date',
                            tickOptions: {
                                angle: -40,
                                formatString: '%m/%d/%y %R'
                            }
                        },
                        yaxis: {
                            label: '@dataValue',
                            labelrenderer: $.jqplot.CanvasAxisLabelRenderer
                        }
                    }

                })
           // plot.redraw();
            }
            var plot = plotData(line);
           

            //var plot2 = $.jqplot('chartdiv', [line], {
            //    //series: labels,
            //    //legend: {
            //    //    show: true,
            //    //    placement: 'outsidegrid'
            //    //},
            //    ////                highlighter: {
            //    //                    show: true,
            //    //                    showtooltip: true,
            //    //                    yvalues: 2,
            //    //                    formatstring: '<table class="jqplot-highlighter"><tr><td>point </td><td>"%s"</td></tr><tr><td>value </td><td>"%s"</td></tr><tr><td>series </td><td>"%s"</td></tr></table>'
            //    //                },
            //    //cursor: {
            //    //    show: true,
            //    //    tooltiplocation: 'sw'
            //    //},
            //    axes: {
            //        xaxis: {
            //           // tickrenderer: $.jqplot.CanvasAxisTickRenderer,
            //            renderer: $.jqplot.DateAxisRenderer//,
            //            //label: 'Date',
            //            //tickoptions: {
            //            //    angle: -15,
            //            //    formatstring: '%m/%d/%y'
            //            //}
            //        }//,
            //        //yaxis: {
            //        //    label: 'Value',
            //        //    labelrenderer: $.jqplot.CanvasAxisLabelRenderer
            //        //}
            //    }
            //});

        });
    </script>

    <div id="pageContainer">


        @*      <div id="mainContent">
            <div id="leftColumn">
                <div id="nav"></div>
            </div>

            <div id="rightColumn">
                <div id="mainGraph"></div>
                <div id="statsBox"></div>
                <div id="statsBox"></div>
            </div>

        </div>*@

        @{var pageTitle = Model.FirstOrDefault().LineName;}
        @{var StartDate = Model.FirstOrDefault().StartDate;}
        @{var EndDate = Model.FirstOrDefault().EndDate;}

        <h2>@pageTitle  <span class="date">@StartDate - @EndDate</span></h2>
        <br />
        <hr /><br />
        View readings from another date range:
        <form id="datePicker" action="?id=airtemp" method="post">
            <label for="from">From</label>
            <input type="text" id="from" name="sdate">
            <label for="to">To</label>
            <input type="text" id="to" name="edate">
            <input type="submit" value="View" />
        </form>

        <div id="chartdiv" >
        </div>

    </div>

<script>

    $(function () {
        $("#from").datepicker({
            defaultDate: "*",
            changeMonth: true,
            numberOfMonths:1,
            maxDate: new Date,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "*",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: new Date,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });



    });
  </script>