
    
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/styles.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-sliderAccess.js")"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />



<div id="reportBuilder">

            <form name="reportBuild" id="datePicker" method="post">
                <div class="dataChooser">
                    <h4>Hourly Intervals</h4>
                    <div class="col">
                        <input type="checkbox" name="datatype" value="airtemp" /> Air Temperature<br />
                        <input type="checkbox" name="datatype" value="pbbchilledwater" /> Chilled Water Papajohn<br />
                        <input type="checkbox" name="datatype" value="campuschilledwater" /> Chilled Water Campus<br />
                        <input type="checkbox" name="datatype" value="pbbelectric" /> Electric Papajohn<br />
                        <input type="checkbox" name="datatype" value="campuselectric" /> Electric Campus<br />
                        <input type="checkbox" name="datatype" value="pbbsteam" /> Steam Papajohn<br />
                    </div>
                    <div class="col">
                        <input type="checkbox" name="datatype" value="steamcampus" /> Steam Campus<br />
                        <input type="checkbox" name="datatype" value="wind" /> Wind<br />
                        <input type="checkbox" name="datatype" value="solarbusbarn" /> Solar Bus Barn<br />
                        <input type="checkbox" name="datatype" value="solarcarcharger" /> Solar Car Port<br />
                        <input type="checkbox" name="datatype" value="solarradiation" /> Solar Radiation<br />
                        <input type="checkbox" name="datatype" value="humidity" /> Humidity
                    </div>
                </div>

                <div class="dataChooser">
                    <h4>Daily Averages</h4>
                    <div class="col">
                        <input type="checkbox" name="datatype" value="airtempdailytotals" /> Air Temperature<br />
                        <input type="checkbox" name="datatype" value="pbbchilledwaterdailytotals" /> Chilled Water Papajohn<br />
                        <input type="checkbox" name="datatype" value="campuschilledwaterdailytotals" /> Chilled Water Campus<br />
                        <input type="checkbox" name="datatype" value="pbbelectricdailytotals" /> Electric Papajohn<br />
                        <input type="checkbox" name="datatype" value="campuselectricdailytotals" /> Electric Campus<br />
                        <input type="checkbox" name="datatype" value="pbbsteamdailytotals" /> Steam Papajohn<br />
                    </div>
                    <div class="col">
                        <input type="checkbox" name="datatype" value="steamcampusdailytotals" /> Steam Campus<br />
                        <input type="checkbox" name="datatype" value="winddailytotals" /> Wind<br />
                        <input type="checkbox" name="datatype" value="solarbusbarndailytotals" /> Solar Bus Barn<br />
                        <input type="checkbox" name="datatype" value="solarcarchargerdailytotals" /> Solar Car Port<br />
                        <input type="checkbox" name="datatype" value="solarradiationdailytotals" /> Solar Radiation<br />
                        <input type="checkbox" name="datatype" value="humiditydailytotals" /> Humidity
                    </div>
                </div>

                <div id="reportInfo">
                    <h4>Report Name</h4>
                    <input type="text" id="reportname" name="reportname" required />
                    Graph Type: <select name="graphtype"><option value="Line">Line</option><option value="Bar">Bar</option></select><br />
                    <h4>Date Time Range</h4>
                    <label for="from">From</label>
                    <input type="text" id="from" name="sdate" required />
                    <label for="to">To</label>
                    <input type="text" id="to" name="edate" required )"><br /><br />
                    <input type="submit" id="submit" value="Build" />
                </div>
                
            </form>

        </div>


<script>

    $(function () {

        $("#from").datetimepicker({
            defaultDate: "*",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: new Date,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });

        $("#to").datetimepicker({
            defaultDate: "*",
            changeMonth: true,
            numberOfMonths: 1,
            maxDate: new Date,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });

    });



</script>